{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>{% block site_title %}Expenses Tracker{% endblock %}</title>
</head>

<body>
    {% include 'partials/navigation.html' %}
    <div class="body">
        {% block site_content %}No content{% endblock %}
    </div>
    <footer>
        <div>Python Web Basics Exam Preparation @SoftUni</div>
    </footer>
</body>
</html>