<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row mt-3">
        <div class="col-lg-6 mx-auto">
                <h2>Login</h2>
                <form style="border: 1px solid grey; margin: 0% 0%; padding: 10% 5%" method="post">
                                    <h2>Login</h2>

                    {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit">Login</button>
                    <br>
{#                    <span>Do not have an account?<a href="{% url 'signup' %}" style="color:orange">Sign up here</a></span>#}
                </form>
        </div>
    </div>
</div>
</body>
</html>