{% extends 'animals/base.html' %}

 {% block site_content %}
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h2 class="text-center mt-3">Create New Animal</h2>
            <form method="POST" style="border: 1px solid grey; margin: 5% 0; padding: 10% 10%;">
                {% if error %}
                    <p style="color:#ff0000;">Error: {{ error }}</p>
                {%  endif %}
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-primary" style="margin-top: 5%;">Submit</button>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
{% endblock %}